---
  extends: ../.eslintrc
  env:
    mocha: true
  rules:
    no-unused-expressions: 0 #false
    valid-jsdoc: 0
    quotes: [0]
    key-spacing: 0 #false

    # we generate code with json stringify which uses single quotes
