extends: ../../.eslintrc
env:
  mocha: true
rules:
  indent: 0 #false
  no-unused-expressions: 0 #false
  valid-jsdoc: 0
  quotes: [0]
  key-spacing: 0 #false
  quote-props: 0 #false
  comma-spacing: 0 #false
